<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastroF</title>
    <link rel="stylesheet" type="text/css" href="/css\cadastrof.css" media="screen" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../conexao.js"></script>
    <script src="/js/home.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="/js/cadastrof.js"></script>
</head>
<body>
   



    <section>
        <div class="border">
            <div class="borda"> 
                
                
                <box-icon name='chevron-left'  onclick="window.location='/home'" color='#F2F2F2' class="seta" ></box-icon>
                        
              
                <div class="logo1">
                    <img src="/imagen\login-logo-blue.png" class="logo2"> 
                   </div>
                </div>
    
                 <h1 class="titulo"> Bem-vindo(a)! </h1>
                 <h4 class="titulo-sub">Cadastrar sua conta</h4>
             
                  
             
                 
        </div>
         
     
    <div class="buttons">
        <a onclick="window.location='/cadastroJ'"><button type="button" id="ops" value="" class="ju" > Juridico </button></a>
        <a href=" "><button type="button" id="eae"  onmousemove="ops()" disabled  onmouseout="sai()" class="fi">Físico</button></a>
    </div>
    
</body>
<main>
    <form action="/cadastroFpp" method="post">
        <% 
    let msgErro = {"nomeFisico":"", "senhaFisico":"","emailFisico":"", "telFisico":""};
    let avisoErro = {"nomeFisico":"", "senhaFisico":"","emailFisico":"", "telFisico":""};
    if(listaErros){
        listaErros.errors.forEach(function(itemErro){
            if(itemErro.path == "nomeFisico"){
                avisoErro.nomeFisico = "erro";
                msgErro.nomeFisico += " "+itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo nome<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
            if(itemErro.path == "senhaFisico"){
                avisoErro.senhaFisico = "erro";
                msgErro.senhaFisico = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo senha<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%                
            }
            if(itemErro.path == "emailFisico"){
                avisoErro.emailFisico = "erro";
                msgErro.emailFisico = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo e-mail<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
            if(itemErro.path == "telFisico"){
                avisoErro.telFisico = "erro";
                msgErro.telFisico = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo telefone<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
        })
    }
    
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/"}, 3000)
                }                        
        </script>
    <% } %>


    <div class="input-box">
            <input type="text" id="nomeFisico" name="nomeFisico"  class="nome" value="<%= valores.nomeFisico %>" class="<%= avisoErro.nomeFisico %>"/>
            <span class="span-input">Nome</span>
            <span class="span-input-erro" > <%= msgErro.nomeFisico %> </span>
        </div>

        <div class="input-box">
            <input type="text" id="emailFisico"  class="email" name="emailFisico" value="<%= valores.emailFisico %>" class="<%= avisoErro.emailFisico %>" />
            <span class="span-input">Email</span>
            <span class="span-input-erro"> <%= msgErro.emailFisico %> </span>
        </div>
 

            <div class="input-box">
            <input type="text" class="form-control" id="telFisico" name="telFisico" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" value="<%= valores.telFisico %>" class="<%= avisoErro.telFisico %>">
            <span class="span-input">Telefone</span>
            <span class="span-input-erro"> <%= msgErro.telFisico %> </span>
            </div>
        <script>
            const telFisico = document.getElementById('telFisico') // Seletor do campo de telefone
            telFisico.addEventListener('keypress', (e) => mascaraTelefone(e.target.value)) // Dispara quando digitado no campo
            telFisico.addEventListener('change', (e) => mascaraTelefone(e.target.value)) // Dispara quando autocompletado o campo
            const mascaraTelefone = (valor) => {
                valor = valor.replace(/\D/g, "")
                valor = valor.replace(/^(\d{2})(\d)/g, "($1) $2")
                valor = valor.replace(/(\d)(\d{4})$/, "$1-$2")
             telFisico.value = valor // Insere o(s) valor(es) no campo
            }
        </script>


      <div class="input-box">
            <input type="password" id="senhaFisico"  name="senhaFisico" class="senha" value="<%= valores.senhaFisico %>" class="<%= avisoErro.senhaFisico %>"/> 
            <span class="span-input">Senha</span>
            <div id="MMM" onclick="showHide()"></div>
            <span class="span-input-erro"> <%= msgErro.senhaFisico %> </span>
        </div>

        <script>
            const senhaFisico = document.getElementById('senhaFisico');
            const MMM = document.getElementById('MMM');

            function showHide(){
                if( senhaFisico.type === " senhaFisico"){
                    senhaFisico.setAttribute('type', 'text');
                    MMM.classList.add('hide');
                }else{
                    senhaFisico.setAttribute('type', 'senhaFisico');
                    MMM.classList.remove('hide');
                }
            }
        </script>


        

    <p class="Politica">Ao cadastrar-se você concorda com a <br>
        <a>Política de Privacidade </a>e  <a>Termos & Condições</a></p>


        
        <div class="check-cont">
            <input type="checkbox" id="cnk" required>
            <label for="cnk" class="label-check">
            <span class="span-check"></span>
        </label>
       


        <div class="button">
            <button type="submit" class="butao">Entrar</button>
        </div>

    </form>


</main>
<footer>

<h2 class="ja">Ja possui conta?</h2> 
<a  onclick="window.location='/loginF'" class="logar"> <h2 class="se">Acessar</h2></a>




</footer>
</div>
</section>


</html>